.all-products {
    min-height: calc(100vh - 170px);
    width: 90vw;
    margin: 15px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}